h1 {
  font-size: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.now-playing {
  font-size: 35px;
  min-height: 380px;
}

.prev-pause-next {
  flex-direction: row;
  display: flex;
  margin: auto;
  padding: 10px;
  justify-content: space-between;
}

.media-button {
  cursor: pointer;
  padding: 10px;
  font-size: 150px;
  padding: 2px;
}

input[type="text"] {
  font-size: 70px;
  text-align: center;
  padding: 10px;
  background-color: transparent;
}

.theme {
  position: fixed;
  bottom: 150px;
  font-size: 100px;
  right: 10px;
  cursor: pointer;
}

.error {
  color: red;
}

ul.playlist {
  height: 800px;
  overflow: scroll;
}

.playlist-li-default {
  display: none;
}

.playlist-li, .playlist-li-default {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 40px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li.playlist-li, li.playlist-li-default {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  cursor: pointer;
}

li:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

/* == Light theme == */
.now-playing.light {
  border: solid black 2px;
}

body.light {
  background-color: white;
}

input.light {
  color: black;
  border: solid 10px black;
}

div.light, h1.light {
  color: black;
}

.media-button.light {
  border: solid black 2px;
}

/* == Dark theme == */
.now-playing.dark {
  border: solid white 2px;
}

body.dark {
  background-color: black;
}

input.dark {
  color: white;
  border: solid 10px white;
}

div.dark, h1.dark {
  color: white;
}

.media-button.dark {
  border: solid white 2px;
}
